
.App {
	background-image: linear-gradient(to top, #434343 0%, black 100%);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	color: white;
	height: 100%;
}


